@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

body {
    font-family: Montserrat, Arial, sans-serif;
    background-color: #182145; /* Cor de fundo principal */
    margin: 0;
    padding: 0;
    color: #f0ffffde; /* Cor do texto */
}

.container {
    max-width: 800px;
    margin: 70px auto;
    background-color: #514869; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
	opacity: 0.5;
}

h1 {
    color: #FFFFFF; /* Cor do título */
    text-align: center;
}

h3 {
    color: #FFFFFF; /* Cor de destaque */
}

p, ol {
    font-size: 16px;
    line-height: 1.6;
    color: #f0ffffde; /* Cor do texto */
}

ol {
    margin: 0 0 20px 20px;
}

em {
    color: #f0ffff94; /* Cor do texto em itálico */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    background-color: #00ff88; /* Cor do botão */
    color: #2b134b; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
	width: 100px;
}

.download-button:hover {
    box-shadow: 0px 0px 3px #565656; /* Efeito de hover do botão */
}
